header {
  padding-top: 1.5em;
  text-align: center;
  
  h1 {
    display: inline-block;
    font-size: calc(24rem /16);
    text-align: right;
    margin: 0 auto;

    svg {
      display: block;
      width: 300px;
    }

  }

  .social-media {
    margin-top: 1.5em;

    &__list {
      display: inline-flex;
      gap: 1rem;
      margin-left: 1em;
      font-size: var(--18px);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h1 {
      margin: 0;
    }

    .social-media {
      margin-top: 0;
    }
  }

}
